<% include partials/header.ejs %>

<!-- <link rel="stylesheet" href="app.css">
 -->
<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
</head>
<body>
<h1>This is the home page!!!</h1>
<img src="https://a.thumbs.redditmedia.com/ahrOCeecqNs7UL4rSiC9NgMqqhnLIi7B3oXhn1ecoW0.png">
</body>
</html>

<% include partials/footer.ejs %>