<% include partials/header %>

<div class="container">

<h1><%=campground.name%></h1>

<p><%=campground.name%></p>
<img src="<%= campground.image %>">
<p><%= campground.description %></p>

</div>

<% include partials/footer %>